@tailwind base;
@tailwind components;
@tailwind utilities;

/* 웹 전용: 스크롤은 되지만 스크롤바는 보이지 않도록 처리 */
html,
body,
#root,
* {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

*::-webkit-scrollbar {
  display: none;
}